#define IDR_VERSION1 1

#include <Winver.h>
#include "version/version.rc"

//beginning with VC11 we get linking error "CVTRES : fatal error CVT1100: duplicate resource.  type:MANIFEST, name:1, language:0x0409" 
//due to "#define wxMANIFEST_ID 1" in wx.rc. Using another number doesn't integrate the manifest correctly for VC2010 compilers.
//However tests indicate we do not need this manifest at all:
//#define wxUSE_NO_MANIFEST 1 //VC11 screws up if not set to an integer, unbelievable
//we can't #ifdef _MSC_VER: not known by resource compiler!
//see also: http://blog.m-ri.de/index.php/2010/11/26/combobox-dropdown-hoehe-wird-nicht-mehr-durch-die-ressourcen-definiert/
#include <wx/msw/wx.rc>

A_PROGRAM_ICON ICON DISCARDABLE "lib/FreeFileSync.ico"
B_BATCH_ICON   ICON DISCARDABLE "lib/Batch.ico"
C_SYNC_DB_ICON ICON DISCARDABLE "lib/SyncDB.ico"

IDR_VERSION1   VERSIONINFO
FILEVERSION    VER_FREEFILESYNC
PRODUCTVERSION VER_FREEFILESYNC
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "FileDescription", "Folder Comparison and Synchronization\0"
      VALUE "FileVersion",     VER_FREEFILESYNC_STR
      VALUE "ProductName",     "FreeFileSync\0"
      VALUE "ProductVersion",  VER_FREEFILESYNC_STR
      VALUE "LegalCopyright",  "ZenJu - All Rights Reserved\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x04B0
  END
END
