#define IDR_VERSION1 1

#include "wx/msw/wx.rc"
#include "version/version.rc"


A_PROGRAM_ICON ICON DISCARDABLE "library/FreeFileSync.ico"
B_BATCH_ICON ICON DISCARDABLE "library/Batch.ico"
C_SYNC_DB_ICON ICON DISCARDABLE "library/SyncDB.ico"

IDR_VERSION1 VERSIONINFO
FILEVERSION VER_FREEFILESYNC
PRODUCTVERSION VER_FREEFILESYNC
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "ProductVersion", VER_FREEFILESYNC_STR
      VALUE "FileDescription", "FreeFileSync - Open Source Synchronization Software\0"
      VALUE "LegalCopyright", "(c) 2008 - 2010 ZenJu\0"
      VALUE "ProductName", "FreeFileSync\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x04B0
  END
END

