#define IDR_VERSION1 1

#include "Winver.h"
#include "wx/msw/wx.rc"
#include "../version/version.rc"

A_PROGRAM_ICON ICON DISCARDABLE "RealtimeSync.ico"

IDR_VERSION1   VERSIONINFO
FILEVERSION    VER_FREEFILESYNC
PRODUCTVERSION VER_FREEFILESYNC
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "FileDescription", "Real-time Command Line Launcher\0"
      VALUE "FileVersion",     VER_FREEFILESYNC_STR
      VALUE "ProductName",     "RealtimeSync\0"
      VALUE "ProductVersion",  VER_FREEFILESYNC_STR
      VALUE "LegalCopyright",  "ZenJu - All Rights Reserved\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x04B0
  END
END
